body {
	color: #000;
	background: #fff url("../images/background.jpg");
	background-repeat:no-repeat;
	background-size: cover;
	text-align: left;
	font-family:Helvetica, Arial, sans-serif;
	padding: 30px 50px 200px 50px;

h1{
	text-align: center;
	color: #e7b553;
	font-size: 75px;
}

h2{
	text-align: center;
	color: #e7b553;
}

h3{
	padding-left: 10px;
	color: #e7b553
}

	* {
		box-sizing: border-box;
	}

	.column {
		float: left;
		width: 50%;
		padding: 40px;
		height: 300px;
		}

	.row:after {
		content: "";
		display: table;
		clear: both;
		}

ul{
	padding-left: 30px;
	text-align: left;
	color: #e7b553
}

ol{
	padding-left: 30px;
	text-align: left;
	color: #e7b553
}

	.img {
		display: block;
		margin-left: auto;
		margin-right: auto;
		padding-top: 20px;
		width: 75%
	}
}
